body {
  background-color: #562929;
  color: #ffe5e5;
  font-size: 1em;
  font-family: 'Calligraffitti', cursive;
}
.page-container {
  width: 90%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 20px;
  background-color: #2e2eff;
  border-top: 15px solid #800000;
  color: white;
  font-size: 2em;
  font-family: 'Niconne', cursive;
}
h1 + h2 {
  margin-top: -20px;
}
h2 {
  background-color: #800000;
  font-size: 2em;
  font-weight: bold;
}
h2 + p {
  margin-top: 36;
}
img {
  float: left;
  width: 30%;
  margin: 20px 20px 20px 0px;
}
P img {
  float: right;
  width: 100px;
  margin-left: 20px;
  margin-right: 0px;
}
@media screen and (min-width: 790px) {
  body {
    font-size: 1.1em;
    background-color: #2e2eff;
  }
  h1 {
    font-size: 4.4em;
  }
  .page-container {
    width: 80%;
  }
}
