body {
  background-color: #ffff33;
  font-size: 1em;
}
div {
  font-size: 2em;
}
@media screen and (min-width: 790px) {
  body {
    font-size: 1.1em;
    background-color: #2e2eff;
  }
  h1 {
    font-size: 2em;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 1.1em;
    background-color: #800000;
  }
  h1 {
    font-size: 4.4em;
  }
}
