body {
  font-size: 1em;
}
div {
  font-size: 2em;
}
.link {
  background-color: #969696;
}
@media screen and (min-width: 300px) {
  body {
    background-size: 300px;
  }
  img {
    max-width: 150px;
  }
  h1 {
    font-size: 2em;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 790px) {
  body {
    background-size: 790px;
  }
  h1 {
    font-size: 2em;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  body {
    background-size: 900px;
  }
  h1 {
    font-size: 4.4em;
  }
}
