// out: css/main.css, sourcemap: true


//color variables
@brickred: darken(red, 25);
@skyblue: lighten(blue, 9);
@forestgreen: darken(green, 10);
@daisyyellow: lighten(yellow, 10);

//type variables
@regular: 1em;
@large: @regular * 2;
@xlarge: @large * 2.2;
@small: @regular / .5;


body{
  font-size: @regular;

}

div{
  font-size: @large;
}

.link{
  background-color: greyscale(@skyblue);
}

h1{
  align-self: center;
}

//width breakpoints

@media screen and (min-width:500px) {


img{
   max-width: 250px
}

  h1{
    font-size: @large;
  }

  .page-container{
    width: 80%;
  }
}




@media screen and (min-width:700px) {



  img{
     max-width: 450px
  }


  h1{
    font-size: @large;
  }

  .page-container{
    width: 80%;
  }
}


@media screen and (min-width:900px){



  img{
     max-width: 650px
  }


  h1{
    font-size: @xlarge;
  }

}


//height breakpoints

@media screen and (min-height:750px) {

  body{
  background: 500px;
  }


  .page-container{
    width: 80%;
  }
}




@media screen and (min-height:1050px) {

  body{
  background-size: 700px;
  }




  .page-container{
    width: 80%;
  }
}


@media screen and (min-height:1200px){

  body{
  background-size: 900px;
  }






    .page-container{
      width: 80%;
    }

}

@media screen and (min-height:1600px){

  body{
  background-size: 1600px;
  }



    .page-container{
      width: 80%;
    }

}
