
.Link{
  font-size: 30px;
  background-color: darkgrey;
  border: 3px solid black;
}

.Link:hover {
  opacity: 0.7;
  color: White;
  background-color: black;
}


.home{
  font-size: 30px;
  background-color: darkgrey;
  border: 3px solid black;
}

.background{
  position: absolute;
  z-index: 1;
}

.Menu{
  position: fixed;
  z-index: 2;
}

#calendarimg{
 position: absolute;
}

#about{
  position: relative;
  top: 5px
  left: 20px;
}

#calendar{
  position: relative;
  top: 5px
  left: 20px;
}

#admissions{
  position: relative;
  top: 5px
  left: 20px;
}

#notice{
  position: absolute;
padding-top: 170px;
padding-left: 50px;
}

#sketch{
  position:relative;
padding-top: 170px;
padding-left: 700px;
width: 40%;
}

#calendarimg{
  z-index: 1;
}

p{
  opacity: 0.8;
  text-indent: 2em;;
  color:  #ffcc00;
  background-color: #292E37;
  border-left:3px;
  Font-size: 20px;
  width: 70%;
  margin-left: 100;
  padding:5px;
  border:2px solid  #0f0f99;
  background-color: #292E37;
}
