

.Link{
  font-size: 15px;
  background-color: white;
}

.Background{
  max-width: 1600px;
  max-height: 900px;
}

.Menu{
  position: fixed;
  z-index: 1;
}

#about{
  position: relative;
  top: 5px
  left: 20px;
}

#calendar{
  position: relative;
  top: 5px
  left: 20px;
}

#admissions{
  position: relative;
  top: 5px
  left: 20px;
}
