// out: css/main.css, sourcemap: true


//color variables
@brickred: darken(red, 25);
@skyblue: lighten(blue, 9);
@forestgreen: darken(green, 10);
@daisyyellow: lighten(yellow, 10);

//type variables
@regular: 1em;
@large: @regular * 2;
@xlarge: @large * 2.2;
@small: @regular / .5;


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

h1{
  position:fixed;
  z-index: 1;
  padding-left: 25%;
  padding-right: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: silver;
  opacity: .8;

}


button{
    font-size: @regular;

}


button:hover {
  opacity: 0.7;
  color: black;
  background-color: blue;
}

button:active {
    color: yellow;
  background-color: red;
  font-size: @small;
}

img{
  max-width: 150px;
}


img#sketch{
  margin-top: 20%;

}


img#notice{
  margin-top: 20%;

}

div{
  position:relative;
}


.Menu{
  position: fixed;
  top: 5;
  z-index: 1;
}

#about{
  position: relative;
}

#calendar{
  position: relative;

}

#admissions{
  position: relative;

}

p#missionstatement{
  margin-top: 30%;
}

.link{
  background-color: greyscale(@skyblue);
  opacity: .8;
}



p{
  background-color: white;
  opacity: .8;
  margin-left: 100px;
  margin-right: 100px;
}

//width breakpoints
@media screen and (min-width:300px) {

  img{
     max-width: 170px
  }

  button{
    font-size: @regular;
  }

    h1{
      font-size: @small;
    }

    .page-container{
      width: 80%;
    }


}

@media screen and (min-width:500px) {


img{
   max-width: 250px
}

img#calendarimg{
   max-width: 450px
}


  .page-container{
    width: 80%;
  }


  button{
    font-size: @regular;
  }

}




@media screen and (min-width:700px) {



  img{
     max-width: 450px
  }


  img#calendarimg{
     max-width: 600px
  }


  h1{
    font-size: @xlarge;
  }


  button{
      font-size: @large;

  }


  .page-container{
    width: 80%;
  }

}


@media screen and (min-width:900px){



  img{
     max-width: 650px
  }


  img#calendarimg{
     max-width: 750px
  }


  h1{
    font-size: @xlarge;
  }

  .page-container{
    width: 80%;
  }




}


@media screen and (min-width:1200px){



  img{
     max-width: 850px
  }


  img#calendarimg{
     max-width: 900px
  }


  h1{
    font-size: @xlarge;
  }

  .page-container{
    width: 80%;
  }



}





//height breakpoints
@media screen and (min-height:150px) {

  body{
  background-size: 100px;
  }



}

@media screen and (min-height:500px) {

  body{
  background-size: 350px;
  }



}


@media screen and (min-height:750px) {

  body{
  background-size: 500px;
  }



}




 @media screen and (min-height:1050px) {

  body{
  background-size: 700px;
  }


}


@media screen and (min-height:1200px){

  body{
  background-size: 900px;
  }







}

@media screen and (min-height:1600px){

  body{
  background-size: 1600px;
  }



}
