
@media screen and (min-width: 300px) {
.Background{
  width: 300px;
 }
}

@media screen and (min-width:540px){
  .Background{
    width: 540px;
   }
}


@media screen and (min-height: 320px) {
  .Background{
    height: 320px;
   }
}


@media screen and (min-height: 540px) {
  .Background{
    height: 540px;
   }
}
