// out: css/main.css, sourcemap: true



.Link{
  font-size: 15px;
  background-color: white;
}

.background{
  position: absolute;
  z-index: 1
}

.Menu{
  position: fixed;
  z-index: 2;
}

#about{
  position: relative;
  top: 5px
  left: 20px;
}

#calendar{
  position: relative;
  top: 5px
  left: 20px;
}

#admissions{
  position: relative;
  top: 5px
  left: 20px;
}



// /////////////// Width Breakpoints /////////////////

@media screen and (min-width: 300px) {

}


@media screen and (min-width:540px){
  body{
    background-color: yellow;
  }
}


///////////////////////////// Height Breakpoints /////////////////////////////////


@media screen and (min-height: 320px) {
  div{
    background-color: orange;
  }
}


@media screen and (min-height: 540px) {
  div{
    background-color: purple;
  }
}
